<head>
    <title>Praktika abimees</title>
</head>

<body background="http://www.photos-public-domain.com/wp-content/uploads/2011/03/sky-texture.jpg">


<h1 style="color:black;">Praktika koha leidmise abimees.</h1>
<h2 style="color:black;">Sisesta siia enda ja firma andmed.</h2>

<h3><a style="color:black;" href="Kasutaja.html">KASUTAJA</a></h3>
<h3><a style="color:black;" href="Firma.html">FIRMA</a></h3>


<center><img class=width="20"h3
             src="http://i1.wp.com/vali-it.ee/wp-content/uploads/2016/10/logo2.png?zoom=1.25&fit=253%2C113"/></center>


<h2 style="color: blue;">Praktika koha leidmise App aitab Vali-IT projektis</h2>
<h2 style="color: blue;">osalevatel &otilde;pilastel leida endale praktika koht peale teooria osa l&auml;bimist.</h2>
<h2 style="color: blue;">Aitab luua &uuml;levaadet, milliste ettev&otilde;tetega oled &uuml;hendust v&otilde;tnud,</h2>
<h2 style="color: blue;">kasutades erinevaid suhtluskanaleid, nende vastused ja protsessi&nbsp;kulgemine.</h2>
<h2 style="color: blue;">Motiveerib kasutajat kasutama erinevaid&nbsp;kontakti v&otilde;tmise viise,</h2>
<h2 style="color: blue;">et j&otilde;uda eesm&auml;rgini ning saada endale sobiv praktika koht.</h2>
<h2 style="color: blue;">Edu praktikakoha leidmisel!</h2>

<link rel="stylesheet" type="text/css" href="style.css">

</body>